@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @*@Html.ActionLink("Create New", "Index1" , new{@class="btn btn-default"})*@
    <a class="btn button-2-colorful" href="@Url.Action("Index1", "Company")">Create New</a>
</p>

<div data-ng-app="app" id="ng-app" lang="sv">


    <div data-ng-controller="CompanyController">

        <div class="row">
            <div class="col-lg-24">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Companies List
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebar-search block ">
                                <form id="sidebar-search" class="ng-pristine ng-valid">
                                    <input type="text" class="sidebar-search-input ng-pristine ng-valid" data-ng-model="search.companyName" placeholder="Search...">
                                    <input type="submit" class="sidebar-search-submit" name="submit" value="">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-hover" id="CompnaiesTables-data">
                                <tr>
                                    <th>
                                        @Html.Label("Name")
                                    </th>
                                    <th>
                                        @Html.Label("Website")
                                    </th>
                                    <th>
                                        @Html.Label("Email")
                                    </th>

                                    <th>
                                        @Html.Label("Telephone")
                                    </th>
                                    <th>
                                        @Html.Label("Type")
                                    </th>

                                    <th>
                                        @Html.Label("Founded Date")
                                    </th>
                                    <th>
                                        @Html.Label("turn over")
                                    </th>
                                    <th>
                                        @Html.Label("NO of Employees")
                                    </th>
                                    <th></th>
                                </tr>


                                <tr data-ng-repeat="Company in Companies | filter:search">
                                    <td>
                                        {{ Company.companyName}}
                                    </td>
                                    <td>
                                        {{ Company.companyWebsite}}
                                    </td>
                                    <td>
                                        {{ Company.companyEmail1}}
                                    </td>

                                    <td>
                                        {{ Company.companyTelephone}}
                                    </td>
                                    <td>
                                        {{ Company.companyType.CompanyTypeName}}
                                    </td>
                                    <td>
                                        {{ Company.companyFoundedDate}}
                                    </td>
                                    <td>
                                        {{ Company.turnover}}
                                    </td>
                                    <td>
                                        {{ Company.numberOfEmployees}}
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", 1) |
                                        @Html.ActionLink("Details", "Details", 1) |
                                        @* @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })*@
                                    </td>
                                </tr>


                            </table>
                        </div>

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>

<script src="~/scripts/angular-animate.js"></script>
<script src="~/scripts/toastr.js"></script>
<script src="~/scripts/ng-flow-standalone.js"></script>
<script src="~/Content/AngulaJS/checklist-model.js"></script>
<script src="~/Content/AngulaJS/CompanyController.js"></script>
@*<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/jquery.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.js"></script>
<script src="~/scripts/sb-admin-2.js"></script>
<script src="~/scripts/jquery.dataTables.js"></script>*@
