@model Data.Models.CategoryArea


@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CategoryArea</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", String.Empty)
               
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Approved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Approved)
                @Html.ValidationMessageFor(model => model.Approved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IconPath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IconPath)
                @Html.ValidationMessageFor(model => model.IconPath)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


